<h2>List of Words</h2>
  <h5>Click on any word to see or add a definition.</h5>
  <h4>placeholder word 2</h4>
  <h4>placeholder word 2</h4>
<% @list.each do |word| %>
  <h4><a href="/words/<%= word.id %>"><%= word.input_word %><%= word.additional_definition %></a></h4>
<% end %>

<h4>Add a new word</h4><br>

<form action="/" method="post">
  <div class="form-group">

    <label for="input_word">Enter Word</label>
    <input id="input_word" name="input_word" class="form-control" type="text"><br>

    <label for="input_definition">Enter your definition of the word!</label>
    <input id="input_definition" name="input_definition" class="form-control" type="text">

  </div>

  <button type="submit" class="btn btn-info">Submit!</button>
</form>
