<h1>Word: <%= params[:word] %></h1>

<% @word.each do |definition| %>
  <h2>Definition: <%= definition %></h2>
<% end %>

<form action="/words/<%= params[:word] %>" method="post">
  <div class="form-group"><br>
    <label for="definition">Enter another definition of the word!</label>
    <input id="definition" name="definition" class="form-control" type="text"><br>
  </div>
  <button type="submit" class="btn btn-secondary">Submit!</button><br><br>
</form><br>

<button><a href='/'>Back to Word List</a></button>
