<h1>Word: <%= @word.input_word %></h1>
<h1>Definition: <%= @word.input_definition %></h1>
<h3>YOUR Definition: <%= @word.additional_definition %></h3>

<form action="/words/<%= @word.id %>" method="post">
  <div class="form-group"><br>

    <label for="additional_definition">Enter another definition of the word!</label>
    <input id="additional_definition" name="additional_definition" class="form-control" type="text"><br>

  </div>

  <button type="reset" class="btn btn-secondary">Submit!</button><br><br>

<button type="submit" class="btn btn-warning">Delete Word</button>
</form><br>
<button><a href='/'>Back to Word List</a></button>
