<h1>Word: <%= @word.input_word %></h1>
<h1>Definition: <%= @word.input_definition %></h1>

<form action="/words/<%= @word.id %>" method="post">
<button type="submit" class="btn btn-warning">Delete Word</button>
</form><br>
<button><a href='/'>Back to Word List</a></button>
