<h1>Word: <%= @word.input_word %></h1>

<% @list.define.each do |define| %>
  <h2>Definition: <%= define[:define] %></h2>
<% end %>

<h3>YOUR Definition: <%= @word.define %></h3>

<form action="/words/<%= @word.id %>" method="post">
  <div class="form-group"><br>

    <label for="define">Enter another definition of the word!</label>
    <input id="define" name="define" class="form-control" type="text"><br>

  </div>

  <!-- <button type="reset" class="btn btn-secondary">Submit!</button><br><br> -->

<button type="submit" class="btn btn-warning">Delete Word</button>
</form><br>
<button><a href='/'>Back to Word List</a></button>
